$topMarginLg: 3.125rem;
$topMarginMd: 2.5rem;
$topMarginSm: 1.25rem;

$logo-zindex: 1;
$content-zindex: 2;
$btn-zindex: 3;

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap");

@mixin contentWidth() {
  width: 100%;
  max-width: 70rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Slabo 27px", serif;
  font-weight: 500;
  font-size: 5rem;
  line-height: 5rem;
  word-spacing: 0.75rem;
  position: relative;
  padding: 0 3rem;
  padding-top: $topMarginLg;
  background-color: #0d5752;

  @media (width <= 768px) {
    font-size: 2rem;
    word-spacing: 0.5rem;
    line-height: 3.5rem;
    padding: 0 clamp(0.75rem, 5vw, 3rem);
    padding-top: $topMarginMd;
  }

  @media (width <= 550px) {
    font-size: 1.5rem;
    word-spacing: 0.25rem;
    line-height: 3rem;
    height: 85vh;
    justify-content: space-between;
  }

  .btnWrapper {
    @include contentWidth();
    background: transparent;
    
    position: relative;
    z-index: $btn-zindex;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight:200;
   font-family:arial;
    margin-top: -60px;
    color:white;
    gap:100px;
    opacity:0.8;

  }

  .content {
    @include contentWidth();
    padding-top: $topMarginLg;
    display: flex;
    flex-direction: column;

    z-index: $content-zindex;

    @media (width <= 786px) {
      padding-top: $topMarginMd;
    }

    @media (width <= 550px) {
      padding-top: $topMarginSm;
      justify-content: space-between;
      height: 100%;
    }

    .title1 {
      h1:last-of-type {
        color: #ffc3c0;
      }
    }

    .title2 {
      text-align: right;
      h1:last-of-type {
        color: #ffc3c0;
      }
    }
  }

  .mainLogo {
    aspect-ratio: 1 / 1;
    height: min(90svh, 90lvw);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: $logo-zindex;
  }
}
